.fw-regular {
    font-weight: $fw-regular!important;
}
.fw-medium {
    font-weight: $fw-medium!important;
}
.fw-semibold {
    font-weight: $fw-semibold!important;
}
.fw-bold {
    font-weight: $fw-bold!important;
}