@mixin transition($time-set) {
    transition: all $time-set;
}

@mixin border-radius($radius-property) {
    border-radius: $radius-property;
}

@mixin box-shadow($shadow-property) {
    box-shadow: $shadow-property;
}

@mixin perspective($property) {
    perspective: $property;
  }

@mixin transform($property) {
    transform: $property;
}
  
  