$box-shadow:                0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.1);
$box-shadow-2:              0 1px 5px rgba($dark, .1);
$box-shadow-sm:             0 .125rem .25rem rgba($dark, .15);
$box-shadow-lg:             0 1rem 3rem rgba($dark, .25);