.cta {
    &-title {
        font-size: $fs-7;
    }
    &-filter-title {
        font-size: $fs-8;
        font-weight: $fw-bold;
        color: $headding-color;
    }
}

@include media-breakpoint-up(md){
    .cta {
        &-title {
            font-size: $fs-5;
        }
        &-box {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        &-text {
            font-size: $fs-12;
        }
    }
}